/* .outer {
  width: 50%;
  margin: auto;
  height: 100px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
} */

.container {
  background: linear-gradient(
    90deg,
    rgb(61, 200, 26) 0%,
    rgb(183, 250, 26) 25%,
    rgb(255, 239, 17) 50%,
    rgb(255, 187, 0) 75%,
    rgb(255, 0, 0) 100%
  );
  width: 100%;
  height: 8px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0.5px black;
}

.marker {
  background-color: white;
  width: 15px;
  height: 15px;
  border-radius: 100px;
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: -4px;
  transform: translateX(-4px);
  border: 1px solid black;
}
